body {
    padding: 5vh;
    color: #C9ADA7;
}
h1 {
    color: #F2E9E4;
    text-align: center;
}
h2 {
    color: black !important;
    text-align: center;
}

h4 {
    color: black !important;
    text-align: center;
}

.container-fluid {
    border: thin solid grey;
    border-radius: 5px;
}
.left-middle-text {
    height: 100%;
}
.right-middle-text {
    height: 100%;
    text-align: center;
}
#top-row {
    height: 8vh;
    background: #22223b;
}
#middle-row {
    height: 60vh;
}
#left-middle {
    background: aliceblue;
}
#right-middle {
    background: cadetblue;
}
.label-height {
    text-anchor: end;
    fill: white;
    alignment-baseline: central;
}
.label-name {
    text-anchor: end;
    cursor: pointer;
    color: white !important;
}
.label-height, .label-name {
    font-size: 15px
}
.header-cell {
    max-width: 120px;
    min-width: 120px;
}
#building-image {
    text-align: center;
    margin: auto;
}
.building-bar {
    fill: steelblue;
    cursor: pointer;
}
.building-bar:hover {
    fill: cadetblue;
}