body {
    padding: 5vh;
}

h1,h2{
    color: midnightblue;
}

.container-fluid {
    border: thin solid grey;
    border-radius: 5px;
    background: lightcyan;
}

#top-row {
    height: 10vh;
    margin-top: 1vh;
}

#selector-row {
    height: 5vh;
}

#ordering {
    width: 20%;
}

#vis-row {
    height: 78vh;
    width: 100%;
}

#matrix {
    width: 100%;
}

.legend-text {
    font-size: 1em;
    alignment-baseline: middle;
}

.row-label,.col-label{
    font-size: 1em;
}