.text-color {
    fill: white;
    text-anchor:middle;
    font: 20px sans-serif;
    font-family: "Oswald", sans-serif;
}

.red {
    font: Bold 32px sans-serif;
    fill:red;
}
.normal {
    font: Bold 26px sans-serif;
}
.amber {
    font: Bold 32px sans-serif;
    fill: #ffbf00;
}
.text-color-header {
    fill: white;
    text-anchor:middle;
    font: bold 80px sans-serif;
    font-family: "Oswald", sans-serif;
}
.text-color-start {
    fill: white;
    text-anchor:middle;
    font: 45px sans-serif;
    font-family: "Oswald", sans-serif;
}
.annotation-note-content {color:white;}
.tick {
    color:white;
}

.annotation-note-title, text.title {
    font-weight: bold;
}

text.title {
    font-size: 1.2em;
}

svg .annotation.rect text {
    fill: var(--annotation-context-color);
    font-size: .6em;
    text-transform: uppercase;
}

#story {
    height:900px;
    width:1200px;
}