body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

h1 {
  font-weight: 100;
  margin-top: 20px;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 40px;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.area {
  /*opacity: 0.7;*/
  clip-path: url(#clip);
}
.area:hover {
  stroke-width: 1;
  stroke-opacity: 1;
  stroke: black;
  opacity: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.main-area {
  margin-top: 5vh;
  border: thin solid grey;
  border-radius: 5px;
  background: rgba(221,221,221,0.45);
}

#title-row {
  height: 14vh;
}

#stacked-area-chart-row {
  height: 60vh;
}

#stacked-area-chart {
  height: 100%;
  width: 100%;
}

.timeline-row {
  height: 15vh;
}

#timeline {
  height: 100%;
  width: 100%;
}

.radio-buttons {
  /*position: absolute;*/
  /*text-align: left;*/
  font: 14px sans-serif;
  width: 100%;
}
.radio-buttons h3,h4 {
  text-align: left;
}
.radio-buttons h4 {
  font: 14px sans-serif;
  color: darkblue;
}
label {
  margin-right: 20px;
}
input {
  margin-right: 5px;
}
.blue {
  color: #3A4FD8;
}
.red {
  color: #c64156;
}
#tweet-category {
  margin-top: 50px;
}

#slider {
  margin-top: 50px;
  margin-right: 20px;
}

