body {
    text-align: center;
    font-family: 'Domine', sans-serif;
}

/*.card {*/
/*    width: 555px;*/
/*}*/

.card-img-top {
    /*height: 15rem;*/
    /*width: 515px;*/
    object-fit: fill;

}

.globe-container {
    max-width: 80%
}

.slide-text {
    max-width: 60vw;
    margin: auto;
    font-size: 1.5em;
}

svg {
    overflow: visible;
}

.help-icon {
    max-width: 100%;
}

/*BUBBLE VIS*/

#top-row-bubbles {
    height: 90px;
    margin-top: 1vh;
}

#selector-row {
    height: 50vh;
}

#category-bubbles {
    width: 40%;
}

#radio {
    margin-top: 1vh;
}

label {
    margin-right: 50px;
}

input {
    margin-right: 5px;
}

.legend-text {
    font-size: 1em;
    alignment-baseline: middle;
}

.tooltip {
    position: absolute;
    text-align: left;
    font: 12px sans-serif;
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 14px sans-serif;
    color: darkblue;
}

/* Force direct popup container */
.popup-bubbles {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup-bubbles .popuptext-bubbles {
    visibility: hidden;
    width: 750px;
    height: 375px;
    background-color: grey;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 20px 20px;
    position: absolute;
    z-index: 1;
    bottom: -380px;
    left: 50%;
    margin-left: -700px;
}

/* Popup arrow */
.popup-bubbles .popuptext-bubbles::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: rotate(180deg);
    margin-left: 321px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup-bubbles .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


/*CHUMBOX*/

.highlight{
    color:red;
    font-weight: bold;
}
.website{
    margin-top: 0;
    margin-bottom: 0;
    color:grey
}
.website-description{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.fun-fact{
    margin-top:1rem;
}

/*based on
https://html-online.com/articles/blinking-text-css-animation/
 */
.blinking{
    font-size: 3rem;
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: red; }
    99%{    color:red;  }
    100%{   color: #000;    }
}


/*FORCE DIRECT*/

#selector-row {
    height: 5vh;
}

#category-force-direct {
    width: 45%;
}

#category-force-direct-col {
    text-align: left !important;
    padding-left: 120px;
}

#split {
    width: 20%;
}

.legend-text {
    font-size: 1em;
    alignment-baseline: middle;
}

.counter {
    position: sticky;
    text-align: left;
    font: 18px sans-serif;
    font-weight: bold;
}

/* Force direct popup container */
.popup-force-direct {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup-force-direct .popuptext-force-direct {
    visibility: hidden;
    width: 850px;
    height: 680px;
    background-color: grey;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 15px 20px;
    position: absolute;
    z-index: 1;
    bottom: -690px;
    left: 50%;
    margin-left: -425px;
}

/* Popup arrow */
.popup-force-direct .popuptext-force-direct::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: rotate(180deg);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup-force-direct .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


/*GLOBE VIZ*/

.tooltip-globe {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
}
.tooltip-globe h3,h4 {
    text-align: left;
}
.tooltip-globe h4 {
    font: 14px sans-serif;
}

.x-axis, .y-axis {
    font-size: .5em;
}

#timelineDiv {
    min-height: 10vh;
    min-width: 85vw;
}

#globeDiv {
    min-height: 10vh;
    max-height: 55vh;
}

#globe-title{
    margin-top:1.5%;
    margin-bottom:0px;
}

.globe-image {
    max-height:50vh;
    max-width: 80%;
}


.direction {
    position: relative;
    top: 10px;
    left: 0%;
    font-size: 10px;
}

.news-div {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1vh;
}

.news-description {
    font-size: 0.6em;
}

/*HOTSPOT VIZ*/

#hotspot-image {
    width: 100%;
    height: 800px;
}

#hotspot-body {
    font-family: "Domine", sans-serif;
}

#hotspot-description {
    padding-top: 20px;
    padding-right: 80px;
    text-align: left;
    font-size: 1.2em;
}

/*TWEET TIMELINE*/
h1 {
    font-weight: 100;
    margin-top: 10px;
}

h2 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 10px;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.browser text {
    text-anchor: end;
}

.area {
    clip-path: url(#clip);
}
.area:hover {
    stroke-width: 1;
    stroke-opacity: 1;
    stroke: black;
    opacity: 1;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

#title-row {
    height: 14vh;
}

#stacked-area-chart-row {
    height: 60vh;
}

#stacked-area-chart {
    height: 100%;
    width: 100%;
}

.timeline-row {
    height: 15vh;
}

#timeline {
    height: 100%;
    width: 100%;
}

.radio-buttons {
    font: 14px sans-serif;
    width: 100%;
}
.radio-buttons h3,h4 {
    text-align: left;
}
.radio-buttons h4 {
    font: 14px sans-serif;
    color: darkblue;
}
label {
    margin-right: 20px;
}
input {
    margin-right: 5px;
}
.blue {
    color: #3A4FD8;
}
.orange {
    color: orange;
}
#tweet-category {
    margin-top: 50px;
}

#slider {
    margin-top: 5px;
    margin-right: 20px;
}

.date-range {
    font: 16px sans-serif;
}

/* Timeline popup container */
.popup-timeline {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup-timeline .popuptext-timeline {
    visibility: hidden;
    width: 750px;
    height: 650px;
    background-color: grey;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 15px 20px;
    position: absolute;
    z-index: 1;
    bottom: -657px;
    left: 50%;
    margin-left: -375px;
}

/* Popup arrow */
.popup-timeline .popuptext-timeline::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: rotate(180deg);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup-timeline .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


/*STORY VIZ*/

.text-color {
    fill: #333333;
    text-anchor:middle;
    font: 18px sans-serif;
    font-family: "Domine", sans-serif;
}

.red {
    font: Bold 28px sans-serif;
    font-family: "Domine", sans-serif;
    fill:#ffcc00;
}
.normal {
    font: Bold 26px sans-serif;
    font-family: "Domine", sans-serif;
}
.amber {
    font: Bold 28px sans-serif;
    font-family: "Domine", sans-serif;
    fill: #0066cc;
}
.text-color-header {
    fill: #333333;
    text-anchor:middle;
    font: bold 60px sans-serif;
    font-family: "Domine", sans-serif;
}

.text-color-sub-header {
    fill: #333333;
    text-anchor:middle;
    font: bold 30px sans-serif;
    font-family: "Domine", sans-serif;
}

.text-color-start {
    fill: #333333;
    text-anchor:middle;
    font: 45px sans-serif;
    font-family: "Domine", sans-serif;
}
.annotation-note-content {color:white;}
.tick {
    color:#333333;
}

.annotation-note-title, text.title {
    font-weight: bold;
}

text.title {
    font-size: 1.2em;
}

#story-svg .annotation.rect text {
    font-size: .6em;
    text-transform: uppercase;
}

/*#story-svg {*/
/*    height:600px;*/
/*    width:800px;*/
/*}*/

/*#section-9129 {*/
/*    height:900px;*/
/*}*/

/*WORDCLOUD VIZ*/

#wordcloud-body {
    position: relative;
    font-family: "Domine", sans-serif;
    margin: 20px auto 1em;
}
#wordcloud {
    height: 750px;
}

.wordcloud-word {
    cursor: pointer;
}

#redraw-wordcloud {
    margin-top: 50px;
}

#wordcloud-description {
    padding-top: 20px;
    padding-right: 50px;
    text-align: left;
    font-size: 1.2em;
}

/*GENERAL CSS*/

ul {
    padding-left: 2rem;
    max-width: 60vw;
    margin: auto;
    text-align: start;
}

source-text {
    max-width: 60vw;
    font-size: 0.5em;

}

.red-bold {
    font-weight: bold;
    color: red;
}

.red-bold-big {
    font-weight: bold;
    color: red;
    font-size: 1.5em;
}